<div class="flex flex-col p-2 border-b border-b-bg-highlight cursor-pointer hover:bg-bg-highlight [&.active]:bg-bg-highlight" (click)="onClick()" [ngClass]="{
  'active': active
}">
  <div class="flex items-start">
    <p class="text-label flex-auto me-2">{{ data?.path }}</p>
    <div class="tag tag-primary">
      {{ data?.method}}
    </div>
    <button class="btn btn-sm btn-text ms-2" *ngIf="active" (click)="onDeleteClick()">X</button>
  </div>
  <p class="text-placeholder">{{ data?.description }}</p>
</div>