<div class="flex flex-col p-2 border-b border-b-bg-highlight cursor-pointer hover:bg-bg-highlight [&.active]:bg-bg-highlight" (click)="onClick()" [ngClass]="{
  'active': active
}">
  <div class="flex items-start space-x-2">
    <div class="text-label flex-auto whitespace-nowrap overflow-hidden text-ellipsis" [ngClass]="{
      'line-through': !data.isActive
    }">{{ data.name }}</div>
    <div class="tag tag-primary">
      {{ data.request.method}}
    </div>
    <ng-container *ngIf="active && activeActions != null">
      <ng-container [ngTemplateOutlet]="activeActions"></ng-container>
    </ng-container>
  </div>
  <p class="text-placeholder">{{ data.request.description }}</p>
</div>