<ng-template #mainSubMenu>
  <div class="menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (cdkMenuItemTriggered)="onImport()"><i class="pp-i pp-i-add-solid"></i> Import by curl</button>
  </div>
</ng-template>

<ng-template #requestSubMenu let-data="data">
  <div class="menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (cdkMenuItemTriggered)="onDelete(data)"><i class="pp-i pp-i-delete-solid"></i> Delete</button>
    <button class="menu-item" cdkMenuItem (cdkMenuItemTriggered)="onCopy(data)"><i class="pp-i pp-i-copy-solid"></i> Duplicate</button>
  </div>
</ng-template>

<div class="flex h-full">
  <div class="bg-bg h-full border-r border-r-bg-highlight flex flex-col overflow-y-auto" style="width: 265px;">
    <div class="flex p-2 space-x-2">
      <input type="text" class="flex-auto input-center" placeholder="Search" [(ngModel)]="searchKeyword" (ngModelChange)="onSearchChange()"/>
      <button type="button" class="btn btn-xs btn-text" [cdkMenuTriggerFor]="mainSubMenu"><i class="pp-i pp-i-more-vert-solid"></i></button>
      <button type="button" class="btn btn-secondary" (click)="onAdd()"><i class="pp-i pp-i-add-solid"></i></button>
    </div>
    <app-data-loader class="flex-auto" [data]="fetchMockApiDataLoader">
      <ng-template #idlePage>
        <app-request-card *ngFor="let data of mockApiDataList" [data]="data" (cardClick)="onMockApiSelect($event)" [active]="data.id == mockApiData?.id">
          <ng-template #activeActions>
            <button class="btn btn-sm btn-text" [cdkMenuTriggerFor]="requestSubMenu" [cdkMenuTriggerData]="{data: data}"><i class="pp-i pp-i-more-vert-solid"></i></button>
          </ng-template>
        </app-request-card>
      </ng-template>
    </app-data-loader>
  </div>
  <div class="flex-auto flex flex-col col-span-9 bg-bg h-full p-2 overflow-y-auto">
    <app-mock-api-editor class="h-full" *ngIf="mockApiData" [data]="mockApiData"></app-mock-api-editor>
  </div>
</div>